/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    
    /* Update to SavourIQ color palette */
    --primary: 22 89% 45%; /* Orange shade */
    --primary-hover: 22 89% 50%; /* Slightly darker orange */
    --primary-active: 22 89% 55%;
    --primary-foreground: 0 0% 100%;

    --accent: 240 4.8% 96%;
    --accent-hover: 240 4.8% 93%;
    --accent-active: 240 4.8% 90%;
    --accent-foreground: 240 4.8% 26%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45%;

    --success: 142 71% 40%;
    --error: 0 100% 35%;
    --overlay: 0 0% 0%;
    --border: 240 6% 90%;
    --ring: 192 84% 40%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    
    /* Adjust the primary orange for dark mode */
    --primary: 22 89% 60%;
    --primary-hover: 22 89% 55%;
    --primary-active: 22 89% 50%;
    --primary-foreground: 0 0% 10%;
  }

  * {
    @apply border-border;
  }

  /* General button and link styling */
  a,
  input,
  button {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ring;
  }
}
